@media (max-width: 1230px) {
  .hero-img-section {
    height: auto;
    padding: 6rem 9rem;
    display: block;
    text-align: center;

    picture {
      align-items: center;
      flex-direction: column;

      img {
        width: 100%;
      }

      div {
        margin: 0;
        padding: 0 1rem;
        justify-content: center;
      }
    }
  }

  .grid-section {
    .grid-container {
      picture {
        p {
          font-size: 1.6rem;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  header {
    padding: 3.5rem 5rem;
  }

  .hero-img-section {
    padding: 6rem 5rem;
  }

  .grid-section {
    padding: 2rem 5rem;

    .grid-container {
      gap: 1.4rem;
    }
  }
}

@media (max-width: 850px) {
  header {
    nav {
      width: 100%;

      img {
        width: 180px;
      }

      .btn-menu {
        display: block;

        img {
          width: 33px;
        }
      }

      ul {
        display: none;
      }
    }

    .title-wrapper {
      position: static;
      width: 100%;
      margin-top: 6rem;

      h1 {
        max-width: 100%;
        font-size: 4rem;
      }
    }
  }

  .grid-section {
    padding: 2rem 1.4rem;

    .grid-header {
      h2 {
        font-size: 2.8rem;
      }

      .grid-btn {
        width: 9rem;
        height: 2.3rem;
      }
    }

    .grid-container {
      gap: 1rem;

      picture {
        p {
          font-size: 1.4rem;
          left: 8%;
        }
      }
    }
  }
}

@media (max-width: 660px) {
  header {
    padding: 2.5rem 2rem;

    .title-wrapper {
      padding: 1.4rem;
      margin-top: 8rem;

      h1 {
        font-size: 3rem;
        line-height: 3.6rem;
      }
    }
  }

  .hero-img-section {
    padding: 5rem 2rem;

    picture {
      div {
        h2 {
          font-size: 2.4rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }

  .grid-section {
    padding: 0.8rem 1.4rem;
    .img-desktop {
      display: none;
    }

    .img-mobile {
      display: block;
    }

    .grid-header {
      justify-content: center;
      .desktop-btn {
        display: none;
      }
    }

    .grid-container {
      display: flex;
      flex-direction: column;

      .mobile-btn {
        display: block;
      }

      .grid-btn {
        border: 2px solid black;
        background: none;
        width: 10rem;
        height: 2.5rem;
        font-family: "Alata", serif;
        text-transform: uppercase;
        font-size: 1.1rem;
        letter-spacing: 0.3rem;
        align-self: center;
        margin-top: 1.6rem;
      }

      .grid-btn:hover {
        cursor: pointer;
        background-color: $Black;
        color: $White;
      }

      picture {
        div {
          height: 100%;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  header {
    padding: 2.5rem 1.4rem;

    .title-wrapper {
      padding: 1rem;

      h1 {
        font-size: 2rem;
        line-height: 2.8rem;
      }
    }
  }

  .hero-img-section {
    padding: 5rem 1.4rem;

    picture {
      div {
        h2 {
          font-size: 1.8rem;
        }

        p {
          line-height: 1.4rem;
          font-size: 0.8rem;
        }
      }
    }
  }

  .grid-section {
    .grid-header {
      height: 0.1rem;
      h2 {
        font-size: 1.8rem;
      }
    }
  }
}
